
#header{
    background-color: #f0eace;    
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 2rem;
}
h1{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 0%;
    background-color: #dad09e7a;
    font-size: 95px;    
    margin: 0%;
}
h2 {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #dad09e7a;
    text-align: center;
    font-size: 40px;
    margin-block-start: 0%;

}
h3{
 background-color: #dad09e7a;
 border-bottom-right-radius: 12px;
 border-bottom-right-radius: 12px;

}
body{
    display: flex;
    background-color: #6b593e;
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;    
    text-align: center;
    place-content: center;
    
    
}
#container{
    width: 800px;
    padding: 5%;
    margin: 32px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
}    

nav{
    background-color: rgb(255, 255, 255);
    padding: 1rem;     

}

#corpo-meio{
    background-color: #f0eace;    
}
#duas-nav{
    height: max-content;
    display: flex;
    background-color: #f0eace;    
    
}
#nav-1{
    height: max-content;
    width: 50%;
    text-align: left;
    margin: 0%;
    background-color: #f0eace;    

}
#nav-2{
     height: max-content;
     background-color: #f0eace; 
     text-align: left;
        

}
#nav-3{
    display: flex;
    background-color: #f0eace;    

}
#texto-img{
    display: flex;
    background-color: #f0eace;    

}
#texto-da-img{
    max-height: max-content;
    padding-left: 16px;
    text-align: left;
}
#bea{
    height: 20%;
    width: 50%;
    border-radius: 1rem;
    box-shadow: -3px 3px 10px 3px rgba(0, 0, 0, 0.3);
}
#text-movie{
    display: flex;
    background-color: #f0eace;    
}

#texto-do-video{
    max-height: max-content;
    padding-left: 16px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    text-align: left;
}
video{
    height: 20%;
    width: 65%;
    border-radius: 1rem;
    box-shadow: -3px 3px 10px 3px rgba(0, 0, 0, 0.3);

}
#pre-footer{
    margin: 0%;
    background-color: white;
    padding-top: 0%;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #f0eace;    
   
}

#texto-footer{
    margin: 0%;
    padding-right: 0%;
    padding-bottom: 0%;    
}

footer{
    height: max-content;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #f0eace;    
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}
#creditos{
    margin: 0%;
    padding-right: 0%;   
    padding-bottom: 0%; 
}
hr#margem-meio{
    margin: 0%;
    width: 8px;
    background-color: #DBCC9B;   
}
hr#margem-horizontal-meio{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 0%;
    height: 2px;
    width: 80%;
    background-color: #DBCC9B;

}

hr#margem{
    margin: 0%;
    background-color: #DBCC9B;
    height: 2px;
}
#texto-esquerdo{
    margin-block-end: 0%;
    margin-block-start: 0%;

}
